<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>本文:</strong>
  <%= @article.content %>
</p>

<%
=begin%>
 <%= link_to 'Back', articles_path %>
<%
=end%>
<% if current_user&.id == @article.user_id %>
<%= link_to '編集', edit_article_path(@article), , class: "btn btn-warning" %>
<% end %>
<%= link_to '一覧', articles_path, class: "btn-secondary" %>
